.m1 {
  margin: 5px;
}
.m2 {
  margin: 10px;
}
.m3 {
  margin: 15px;
}

.my1 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.my2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.my3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mx1 {
  margin-left: 5px;
  margin-right: 5px;
}
.mx2 {
  margin-left: 10px;
  margin-right: 10px;
}
.mx3 {
  margin-left: 15px;
  margin-right: 15px;
}
