.p1 {
  padding: 5px;
}
.p2 {
  padding: 10px;
}
.p3 {
  padding: 15px;
}

.py1 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.py2 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.py3 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.px1 {
  padding-left: 5px;
  padding-right: 5px;
}
.px2 {
  padding-left: 10px;
  padding-right: 10px;
}
.px3 {
  padding-left: 15px;
  padding-right: 15px;
}
